<div>
  <%= flash[:notice] %>
</div>
<p id="notice"></p>
<div class="container">
 <div class="row">
  <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
<h1>welcom to <i class="fas fa-book"></i>Bookers !!</h1>
<br>In<i class="fas fa-book"></i>Bookers,
<br>you can share and exchange your opinions , inpressions , and emotions
<br>about various books!
